---
const { title = "My Astro Website" } = Astro.props;
---

<link rel="sitemap" href="/sitemap-index.xml">
<title>{title}</title>
<meta name="description" content="Welcome to my new Astro site!">

<!-- Web analytics -->

<!-- Open Graph tags -->
