---
const { title = "ASAP Cloud" } = Astro.props;
---

<link rel="preload" href="/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Variable.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<link rel="preload" href="/fonts/Cabinet%20Grotesk/Fonts/WEB/fonts/CabinetGrotesk-Variable.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
<title>{title}</title>

<!-- Web analytics -->

<!-- Open Graph tags -->
