---
import SessionButton from "../SessionButton.astro";
import Logo from "./Logo.astro";
const links = [
  { href: "/", label: "Inicio" },
  { href: "/services", label: "Servicios" },
  { href: "/about", label: "Nosotros" },
  { href: "/contact", label: "Contacto" },
];
---

<header
  class="fixed top-0 w-full z-50 pointer-events-none animate-fade-in-down animate-delay-1000 animate-duration-1000"
>
  <nav
    class="grid grid-cols-3 items-center mx-auto h-16 px-4 text-white mix-blend-difference pointer-events-auto"
  >
    <a href="/" class="text-xl font-bold w-10">
      <Logo color="ffffff" />
    </a>

    <!-- Navegación -->
    <ul class="flex items-center justify-center gap-8">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class="text-sm font-medium transition-colors duration-200"
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>

    <div class="flex justify-end">
      <div class="w-10">
        <SessionButton color="ffffff" />
      </div>
    </div>
  </nav>
</header>
